* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Changa One', cursive;
  }
  header {
    color: rgb(207, 215, 215);
  }
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 5%;
    background-color: #19A7CE;
    border-bottom: 4px solid #0d1e33;
  }
  .navbar .navbar-nav a {
    font-weight: 100;
    color:black;
    display: inline-bock;
    font-size: 1rem;
    margin: 0 1rem;
    font-family: 'Times New Roman', Times, serif;
    
  }
  .navbar-logo {
    font-size: 50px;
    font-weight: 800;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #F6F1F1;
  }
  aside {
    background-color: #FFFFFF;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    font-size: 18px;
    display: flex;
    flex: 2;
    margin: 10px, 10px, 10px, 10px;
    margin-bottom: 0px;
    
}
section {
    background-color:#FFFFFF;
    color: #121213;
    padding: 30px 20px 50px 30px;
    width: 100%;
    text-align: justify;
    font-family: 'Playfair Display', serif;
    

    
}
footer{
    background-color: #F6F1F1;
    color: rgb(3, 7, 48);
    font-size: small;
    height: 10%;
    
    
}
article{
    width: 150px;
    height: 150px;
}
ul{display: flex;
    font-size: medium;
    color: antiquewhite;
    list-style: none;
    text-align: center;
}
li{margin-right: 30px;
margin-top: 10px;}
